!!! 5
html
    head
        title= title
        link(rel='stylesheet', href='js/jquery/css/jquery-ui-1.10.0.custom.css')
        link(rel='stylesheet', href='css/style.css')

    body
        block content
        block scripts
            script(src="js/jquery/js/jquery-1.9.0.min.js")
            script(src="js/jquery/js/jquery-ui-1.10.0.custom.min.js")