extends layout

// local js, only used in this view
block scripts
    script(src="js/now.js")
    script(src="js/three.js")
    script(src="js/trackball.js")
    script(src="js/stats.min.js")
    script(src="js/dat.gui.min.js")
    script(src="js/tween.min.js")
    script(src="js/rubix.js")

block content