body {
    background: #2c2c2c
}

button {
    /*margin-right: 16px;*/
}

#canvas {
    margin-top: 12px;
    border: 1px solid #313336;
}

#stats { position: absolute; top: 0; left: 0; }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #fff !important }
#stats #fps #fpsGraph { display: none }

#log {
    color: #3AA9E8
}