extend layout

block content
  .row
    .span12
      h2 Japan Earthquakes 2011 Visualization Map
      br
      img(src='/img/vc0.png')
      img(src='/img/vc1.png')
      iframe(width='800', height='450', src='http://www.youtube.com/embed/NSBjEvPH2j4#t=1m30s', frameborder='0', allowfullscreen='allowfullscreen')
      br
      br            
      img(src='/img/vc2.png')