extends layout

//- local js, only used in this page
block scripts
  script(src="/lib/d3.v3.min.js")
  script(src="/lib/underscore-min.js")
  script(src="/lib/now.js")
  script(src="/model/shapes.js")

block content
  h3 d3.js practice
  button.btn.btn-primary#shuffle Shuffle
  button.btn.btn-primary#stream Stream
  button.btn.btn-primary#reset Reset
  button.btn.btn-primary#add Add Random
  
  button.btn#debug
  button.btn.btn-primary#blue
  button.btn.btn-success#green
  button.btn.btn-warning#orange
  button.btn.btn-danger#red

  span#log
  br
  svg#viz