extends layout

// local js, only used in this page
block scripts
    script(src="lib/now.js")
    script(src="lib/three.js")
    script(src="lib/stats.min.js")
    script(src="lib/dat.gui.min.js")
    script(src="lib/tween.min.js")
    script(src="js/graph.client.js")
    script(id="vs", type="x-shader/x-vertex").
        varying vec3 color;
        attribute vec3 vertexColor;
        void main(void) {
            color = vertexColor;
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
        }
    script(id="fs", type="x-shader/x-fragment").
        varying vec3 color;
        uniform float opacity;
        void main(void) {
            gl_FragColor = vec4(1, 1, 1, opacity);
        }

block content
    // div.row-fluid
        div.span2.btn-group
            button.btn.btn-primary#deg7 Deg 7
            button.btn.btn-primary#deg19 Deg 19
        div.span3.btn-group
            button.btn.btn-primary#order1 1
            button.btn.btn-primary#order2 2
            button.btn.btn-primary#order3 3
            button.btn.btn-primary#order4 4
            button.btn.btn-primary#order5 5
            button.btn.btn-primary#order6 6
        div.span1
            button.btn.btn-success#plot Plot
        div#log
    div#canvas