extends layout

// local js, only used in this page
block scripts
    script(src="lib/now.js")
    script(src="lib/three.js")
    script(src="js/graph.client.js")
    script(src="js/vertex.shader", type='x-shader/x-vertex', id="vertexshader")
    script(src="js/vertex.shader", type='x-shader/x-fragment', id="fragmentshader")

block content
    div.row-fluid
        div.span2.btn-group
            button.btn.btn-primary#deg7 Deg 7
            button.btn.btn-primary#deg19 Deg 19
        div.span3.btn-group
            button.btn.btn-primary#order1 1
            button.btn.btn-primary#order2 2
            button.btn.btn-primary#order3 3
            button.btn.btn-primary#order4 4
            button.btn.btn-primary#order5 5
            button.btn.btn-primary#order6 6
        div.span1
            button.btn.btn-success#plot Plot
        div#log
    div#canvas